/* Apply these styles to the container of your table */
.datagrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

/* Default styles */
.tableMain {
    overflow-x: auto;
}

